:root {
    --info-color: #90ee90ff;
    --primary-color: #e0ffe0;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

.app-wrapper {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.spinner {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

//Navbar
.navbar {
    width: 90%;
    display: flex;
    margin: 5vh 5%;
    height: 30px;

    div {
        width: 100px;
        height: 100%;
        background-color: var(--info-color);
        text-align: center;
        padding-top: 10px;

        &:hover {
            background-color: var(--primary-color);
        }

        a {
            text-decoration: none;
            color: #000000ff;
        }
    }
}

// Game
ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;

    &:focus {
        outline: none;
    }
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.square-win {
    background-color: var(--info-color);
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.inactiveButton {
    font-weight: normal;
}

.activeButton {
    font-weight: bold;
}

//Weather
.weather {
    &-form {
        margin-bottom: 30px;

        .submitButton {
            min-width: 100px;
            height: 2.3rem;
            border: 1px solid rgba(0, 0, 0, 0.5);
            background-color: var(--info-color);
            padding: 0.1rem 0.5rem;
            border-radius: 10px;
            cursor: pointer;
            margin-left: 10px;

            &:hover {
                background-color: var(--primary-color);
            }
        }
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        height: 2rem;
        padding: 0.1rem 0.5rem;
        margin-right: 15px;
        outline: none;

       &:hover,
       &:active {
            border-color: var(--info-color);
        }
    }

    &-text {
        margin-bottom: 15px;
        font: 16px 'Arial', sans-serif;
    }

    &-display {
        font: 16px 'Arial', sans-serif;

        span {
            font-weight: bold;
        }
    }
}

//todos
.todo {
    width: 500px;

    &-header {
        width: 100%;
        text-align: center;
        margin: 50px 0;
        font: 100px 'Arial';
        font-weight: 500;
        color: rgba(175, 47, 47, 0.15);
    }

    &-list {
        box-shadow: 0px 8px 27px 3px rgba(34, 60, 80, 0.2);
        width: 100%;
        margin-bottom: 30px;
    }

    .todo-create {
        width: 100%;
        padding: 16px;
        font-size: 24px;
        line-height: 1.4em;
        box-shadow:  0 2px 5px 0 rgba(34, 60, 80, 0.2);
        border: none;
        height: 2rem;
        margin-right: 15px;
        outline: none;
        color: #999999;

        &::placeholder {
            color: rgba(175, 47, 47, 0.15);
            font-style: italic;
        }
    }

    &-input {
        display: flex;
        width: 100%;

        .button-all {
            width: 10%;
        }

        .form-input {
            width: 83.4%;
        }
    }
}

.list {
    &-wrapper {
        margin-top: 0;
        background-color: white;
        list-style: none;
        padding: 0;
    }

    &-item {
        font-size: 24px;
        color: #d9d9d9;
        border-bottom: 1px solid #ededed;;

        &-wrapper {
            display: flex;
        }

        .item-wrapper {
            padding: 15px
        }
    }
}

.label-item {
    padding: 0 15px;
    min-width: 80%;
    color: black;
    transition: color 1s;
}

.item-complete {
    text-decoration: line-through;
    color: #d9d9d9;
}

.todo-footer {
    display: flex;
    justify-content: space-around;
    height: 30px;

    .filter,
    .clear-button {
        position: relative;
    }

    .clear-button,
    .filter button {
        cursor: pointer;
    }
}

.todo-footer::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

//Animation
@mixin animate($opacity, $margin) {
    opacity: $opacity;
    margin-top: $margin;
}

.item-animate-enter {
    @include animate(0, -60px);
}

.item-animate-enter-active,
.item-animate-exit {
    @include animate(1, 0);
    background: left linear-gradient(to right, white 50%, red 50%);
    background-size: 200% 100%;
    transition: all 2s ease;
}

.item-animate-enter-active {
    transition: all 500ms ease-in;
}

.item-animate-exit-active {
    @include animate(0, -60px);
    background-position: right;
    transition: background-position .5s ease, opacity 2.5s ease-in, margin-top 2.5s ease-in;
}

.main-input-enter {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 48px 12px rgba(44, 83, 199, 1);
}

.main-input-enter-active {
    box-shadow: 0px 0px 48px 12px rgba(44, 192, 199, 1);
    transition: all 500ms;
}

@keyframes addGreenBackground {
    from {
        background-position: right;
    }
    to {
        background-position: left;
    }

}

.check {
    background: right linear-gradient(to left, white 50%, var(--info-color) 50%);
    background-size: 200% 100%;
    animation: addGreenBackground 1s linear;
}