:root {
    --info-color: #90ee90ff;
    --primary-color: #e0ffe0;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

.app-wrapper {
    width: 90%;
    margin-left: 5%;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

//Navbar
.navbar {
    width: 90%;
    display: flex;
    margin: 5vh 5%;
    height: 30px;

    div {
        width: 100px;
        height: 100%;
        background-color: var(--info-color);
        text-align: center;
        padding-top: 10px;

        &:hover {
            background-color: var(--primary-color);
        }

        a {
            text-decoration: none;
            color: #000000ff;
        }
    }
}

// Game
ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;

    &:focus {
        outline: none;
    }
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.square-win {
    background-color: var(--info-color);
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.inactiveButton {
    font-weight: normal;
}

.activeButton {
    font-weight: bold;
}

//Weather
.weather {
    &-form {
        margin-bottom: 30px;

        .submitButton {
            min-width: 100px;
            height: 2.3rem;
            border: 1px solid rgba(0, 0, 0, 0.5);
            background-color: var(--info-color);
            padding: 0.1rem 0.5rem;
            border-radius: 10px;
            cursor: pointer;
            margin-left: 10px;

            &:hover {
                background-color: var(--primary-color);
            }
        }
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        height: 2rem;
        padding: 0.1rem 0.5rem;
        margin-right: 15px;
        outline: none;

       &:hover,
       &:active {
            border-color: var(--info-color);
        }
    }

    &-text {
        margin-bottom: 15px;
        font: 16px 'Arial', sans-serif;
    }

    &-display {
        font: 16px 'Arial', sans-serif;

        span {
            font-weight: bold;
        }
    }
}

//todos
.todo {
    width: 30%;
    min-width: 500px;
    margin-left: 35%;

    &-header {
        width: 100%;
        text-align: center;
        margin: 50px 0;
        font: 100px 'Arial';
        font-weight: 500;
        color: rgba(175, 47, 47, 0.15);
    }

    &-list {
        box-shadow: 0px 8px 27px 3px rgba(34, 60, 80, 0.2);
        min-width: 500px;
    }

    input {
        width: 100%;
        padding: 16px;
        font-size: 24px;
        line-height: 1.4em;
        box-shadow:  0 2px 5px 0 rgba(34, 60, 80, 0.2);
        border: none;
        height: 2rem;
        margin-right: 15px;
        outline: none;
        color: #999999;

        &::placeholder {
            color: rgba(175, 47, 47, 0.15);
            font-style: italic;
        }
    }
}

.list-wrapper {
    width: 100%;
    background-color: white;
}